@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Linear+B&display=swap');

.section-cart{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 50px;
    width: 800px;
}

.cart-prod-img{
    width: 100px;
    height: 100px;
}

.p-price{
    font-family: 'Noto Sans Linear B', sans-serif;
}

.product-added{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
    background-color: rgb(220, 220, 224);
    padding: 15px;
    border-radius: 20px;
    font-family: 'Noto Sans Linear B', sans-serif;
}

.titlep{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
    font-family: 'Noto Sans Linear B', sans-serif;
}

.cart-button{
    padding: 10px;
    font-family: 'Noto Sans Linear B', sans-serif;
    background-color: #143966;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.quantity-prod{
    font-family: 'Noto Sans Linear B', sans-serif;
}

.cartEmpty{
    display: flex;
    position: absolute;
    left: 555px;
    top: 350px;
    background-color: #143966;
    padding: 30px;
    border-radius: 10px;
    color: white;
    font-family: 'Noto Sans Linear B', sans-serif;
    width: 450px;
    text-align: center;
}

.total-price,.quantity-prod,.price-prod,.title-prod{
    text-align: center;
}

