@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap');

.prod-image{
    width: 250px;
    height: 250px;
    border-bottom: 1px solid rgb(227, 227, 227);
}

.card-container{
    width: 250px;
    border-radius: 0px;
    background-color: #143966;
    border: 3px solid #143966;
    color: white;
}

.button{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.product-title{
    height: 75px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
}

.product-price{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.product-button{
    padding: 10px;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}