@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Linear+B&display=swap');

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    position: sticky;
    top: 0px;
    background-color: #143966;
    border-bottom: 1px solid black;
    font-family: 'Noto Sans Linear B', sans-serif;
    color: white;
}

*{
   margin: 0px;
}

a{
    color: white;
    text-decoration: none;
}

#img-header{
    width: 80px;
}

#cart-icon{
    font-size: 30px;
}

.cart{
    position: relative;
}

.cart-counter{
    background-color: black;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    left: 18px;
    bottom: 20px;
    font-size: 12px;
    font-weight: 900;
    border: 2px solid white;
}

ul{
    display: flex;
    gap: 30px;
}

li{
    list-style: none;
}